
/*Landing Page css code*/

.head_text h2 {
    font-size: 1.5rem;
    font-style: italic;
    color: #707070;
    font-weight: normal;
}

.body_text h1 {
    font-size: 2rem;
    margin-right: 1.3rem;
    margin-bottom: 2rem;
}

.arrow-down{
    width:100%;
    margin: 0 auto;
    text-align:center;
    position: relative;
    top:11rem;
    color: white;
    display:block;
}

.arrow-down::after{
    content:"";
    width:40px;
    height:40px;
    position: absolute;
    margin: auto;
    top:0;
    right:0;
    bottom:0;
    left:0;
    border-right:4px solid rgb(90, 90, 90);
    border-bottom:4px solid rgb(90, 90, 90);
    -webkit-transform: rotate(45deg);
    -webkit-animation:3s arrow infinite ease;
    animation:3s arrow infinite ease;
}

@-webkit-keyframes arrow {
    0%, 100%{
        top:50px;
    }
    50%{
        top:80px;
    }

}

@keyframes arrow{
    0%, 100%{
        top:50px;
    }
    50%{
        top:80px;
    }
}

/*random location css section*/

#name_of_location{
    font-size:2rem;
}

#dislike_suggestion{
    font-size: 12px;
}


#map{
    width:95%;
    height:27rem;
}

#google_search{
    font-size:0.8rem;
    
}

#confirm_location{
    width:12rem;
    height:3rem;
    background-color: white;
    border-radius: 40px;
    color: #707070;
    border-color: #707070;
}

#confirm_location:hover{
    background-color: #707070;
    color: rgb(241, 241, 241);
    border-style: none;
}


/*confirmed location css section*/

#open_maps{
    width:12rem;
    height:3rem;
    background-color: white;
    border-radius: 40px;
    color: #707070;
    border-color: #707070;
}

#open_maps:hover{
    background-color: #707070;
    color: rgb(241, 241, 241);
    border-style: none;
}

.small_h3{
    font-size:15px;
}

#small_note{
    font-size:12px;
}

.arrow-down{
    width:100%;
    margin: 0 auto;
    text-align:center;
    position: relative;
    top:11rem;
    color: white;
    display:block;
}

.arrow-down-confirmed::after{
    content:"";
    width:40px;
    height:40px;
    position: absolute;
    margin: auto;
    top:0;
    right:0;
    bottom:0;
    left:0;
    border-right:4px solid rgb(90, 90, 90);
    border-bottom:4px solid rgb(90, 90, 90);
    -webkit-transform: rotate(45deg);
    -webkit-animation:3s arrow infinite ease;
    animation:3s arrow infinite ease;
}

@-webkit-keyframes arrow {
    0%, 100%{
        top:50px;
    }
    50%{
        top:80px;
    }

}

@keyframes arrow{
    0%, 100%{
        top:50px;
    }
    50%{
        top:80px;
    }
}

/*journey css section*/

#distance{
    font-size:2rem;
}

.arrow-down-journey{
    width:100%;
    margin: 0 auto;
    padding-top:10rem;
    text-align:center;
    position: relative;
    color: white;
    display:block;
}

.arrow-down-journey::after{
    content:"";
    width:40px;
    height:40px;
    position: absolute;
    margin: auto;
    top:0;
    right:0;
    bottom:0;
    left:0;
    border-right:4px solid rgb(90, 90, 90);
    border-bottom:4px solid rgb(90, 90, 90);
    -webkit-transform: rotate(45deg);
    -webkit-animation:3s arrow infinite ease;
    animation:3s arrow infinite ease;
}

@-webkit-keyframes arrow {
    0%, 100%{
        top:50px;
    }
    50%{
        top:80px;
    }

}

@keyframes arrow{
    0%, 100%{
        top:50px;
    }
    50%{
        top:80px;
    }
}