
/*Landing Page css code*/

.darkmode--activated{
    color: white;
}

.darkmode--activated .head_text h2{
    color:rgb(180, 180, 180);
}

#tap_history{
    text-align: center;
    Bottom: 0;
    margin-bottom: 6rem;
}

.head_text h2 {
    font-size: 1.5rem;
    font-style: italic;
    color: #707070;
    font-weight: normal;
}

.body_text h1 {
    font-size: 2rem;
    margin-right: 1.3rem;
    margin-bottom: 2rem;
    font-weight: normal;
}

#adventure_spot{
    color:#3a8143;
    font-weight: 600;
}

.arrow-down{
    width:100%;
    margin: 0 auto;
    text-align:center;
    position: relative;
    color: white;
    display:block;
}

.arrow-down::after{
    content:"";
    width:40px;
    height:40px;
    position: absolute;
    margin: auto;
    top:0;
    right:0;
    bottom:0;
    left:0;
    border-right:4px solid rgb(90, 90, 90);
    border-bottom:4px solid rgb(90, 90, 90);
    -webkit-transform: rotate(45deg);
    -webkit-animation:3s arrow infinite ease;
    animation:3s arrow infinite ease;
}

@-webkit-keyframes arrow {
    0%, 100%{
        top:50px;
    }
    50%{
        top:80px;
    }

}

@keyframes arrow{
    0%, 100%{
        top:50px;
    }
    50%{
        top:80px;
    }
}

/*random location css section*/

.darkmode--activated #confirm_location{
    border-color: white;
    background-color: black;
    color: white;
}

.darkmode--activated #confirm_location:hover{
    border-color: white;
    background-color: white;
    color: black;
}



#name_of_location{
    font-size:2rem;
}

#dislike_suggestion{
    font-size: 12px;
}


#map{
    width:95%;
    height:27rem;
}

#google_search{
    font-size:0.8rem;
    
}

#confirm_location{
    width:12rem;
    height:3rem;
    background-color: white;
    border-radius: 40px;
    color: #707070;
    border-color: #707070;
}

#confirm_location:hover{
    background-color: #707070;
    color: rgb(241, 241, 241);
    border-style: none;
}




/*confirmed location css section*/
.darkmode--activated #open_maps{
    color:white;
    background-color:black;
    border-color: white;
}

.darkmode--activated #open_maps:hover{
    background-color:white;
    color:black;
}

.darkmode--activated #track_adventure{
    color:black;
    background-color:rgb(233, 233, 233);
    border-color: (233,233,233);
}

.darkmode--activated #track_adventure:hover{
    border-radius:40px;
    color:rgb(233, 233, 233);
    background-color:black;
    border-color: black;
}


#bottom_spacing{
    height:11rem;
    width: 1rem;
}

#open_maps{
    width: 12rem;
    height:3rem;
    background-color: white;
    border-radius: 40px;
    color: #707070;
    border-color: #707070;
    margin-bottom: 1.5rem;
    font-size:0.8;
}

#track_adventure{
    width: 12rem;
    height:3rem;
    background-color: #707070;
    border-radius: 40px;
    color: white;
    margin-bottom: 2rem;
    font-size:0.8;
}

#open_maps:hover{
    border-radius:40px;
    background-color: #707070;
    color: rgb(241, 241, 241);
    border-style: none;
}

.small_h3{
    font-size:15px;
}

#small_note{
    font-size:12px;
}

.arrow-down{
    width:100%;
    margin: 0 auto;
    text-align:center;
    position: relative;
    top:11rem;
    color: white;
    display:block;
}

.arrow-down-confirmed::after{
    content:"";
    width:40px;
    height:40px;
    position: absolute;
    margin: auto;
    top:0;
    right:0;
    bottom:0;
    left:0;
    border-right:4px solid rgb(90, 90, 90);
    border-bottom:4px solid rgb(90, 90, 90);
    -webkit-transform: rotate(45deg);
    -webkit-animation:3s arrow infinite ease;
    animation:3s arrow infinite ease;
}

@-webkit-keyframes arrow {
    0%, 100%{
        top:50px;
    }
    50%{
        top:80px;
    }

}

@keyframes arrow{
    0%, 100%{
        top:50px;
    }
    50%{
        top:80px;
    }
}

/*journey css section*/

#distance{
    font-size:2rem;
}

.arrow-down-journey{
    width:100%;
    margin: 0 auto;
    text-align:center;
    position: relative;
    color: white;
    display:block;
}

.arrow-down-journey::after{
    content:"";
    width:40px;
    height:40px;
    position: absolute;
    margin: auto;
    top:0;
    right:0;
    bottom:0;
    left:0;
    border-right:4px solid rgb(90, 90, 90);
    border-bottom:4px solid rgb(90, 90, 90);
    -webkit-transform: rotate(45deg);
    -webkit-animation:3s arrow infinite ease;
    animation:3s arrow infinite ease;
}

@-webkit-keyframes arrow {
    0%, 100%{
        top:50px;
    }
    50%{
        top:80px;
    }

}

@keyframes arrow{
    0%, 100%{
        top:50px;
    }
    50%{
        top:80px;
    }
}

/* history page css */

.darkmode--activated .history_details{
    color:rgb(219, 219, 219);
}

.darkmode--activated .history_details_numbers{
    color:rgb(219, 219, 219);
}

.darkmode--activated #return_page{
    color:rgb(219, 219, 219);
}


#pages{
    text-align:center;
}

#history_bottom_spacing{
    width: 1rem;
    height: 12rem;
}

.history_details{
    color:#707070
}

.history_details_numbers{
    font-size: 1.5rem;
    font-weight: 500;
    color:rgb(34, 33, 33)
}

.arrow-down-history{
    width:100%;
    margin: 0 auto;
    text-align:center;
    position: relative;
    top:3rem;
    color: black;
    display:block;
}

.arrow-down-history::after{
    content:"";
    width:40px;
    height:40px;
    position: absolute;
    margin: auto;
    top:0;
    right:0;
    bottom:0;
    left:0;
    border-right:4px solid rgb(90, 90, 90);
    border-bottom:4px solid rgb(90, 90, 90);
    -webkit-transform: rotate(45deg);
    -webkit-animation:3s arrow infinite ease;
    animation:3s arrow infinite ease;
}

@-webkit-keyframes arrow {
    0%, 100%{
        top:50px;
    }
    50%{
        top:80px;
    }

}

@keyframes arrow{
    0%, 100%{
        top:50px;
    }
    50%{
        top:80px;
    }
}